body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #009999;
}

svg {
  height: auto;
}





#logFront {
  animation: logFront 2.46s infinite;
  animation-delay: 0s;
}

#logBack {
  animation: logBack 2.46s infinite;
  animation-delay: 0s;
}

#fiskar {
  animation: fiskar 2.46s infinite;
  animation-delay: 0s;
}